html,
body {
  padding: 0;
  margin: 0;
  font-family: Helvetica;
  background: white;
  color: black;
  font-size: clamp(14px, 4vw, 20px);
}

* {
  box-sizing: border-box;
}

h1 {
    font-weight: bold;
    font-size: 30px;
    padding: 2vh;
    text-align: center;
}

 
