.landing {
    display: flex;
    text-align: left;
    flex-wrap: wrap;
    justify-content: space-around;
    float: center;
    margin: auto;
    width: 70vh;
}

.body ul a {
    text-decoration: underline;
    color: black;
}

.body ul a:hover {
    color: pink;
}

.body {
    min-height: calc(100vh - 1em);
    text-align: center;
}

  .body ul {
    padding: 0;
    display: inline-block;
    text-align: left;
  }


