.body {
    width: max(400px, 80vw);
    margin: auto;
    line-height: 1.7;
}

.body li {
    border: 2px solid black;
    padding: 1vh;
    margin: 1vh;
}

.body a {
    text-decoration: underline;
    color: black;
}

.body input {
    width: 100%;
    margin: auto;
    padding: 1vh;
}

.body ul {
    list-style: none;
    padding: none;
}
