.nav {
    list-style-type: none;
    display: inline-block;
    float: left;
    position: sticky;
    top: 5vh;
    width: 25%;
    border: 1px solid white;
    padding: 20px;
}

.nav li a {
    color: white;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

.body {
    margin-left: 20vh;
    width: 60vh;
    display: inline-block;
    line-height: 1.7;
}

.body div {
    height: 100%;
    padding-bottom: 100vh;
    padding-top: 0.3vh;
}

.body a {
    text-decoration: underline;
    color: white;
}


