.nav {
    display: inline-block;
    width: 6vw;
    margin: auto;
    padding-right: 5vw;
    position: sticky;
    top: 10vh;
    bottom: 10vh;
    height: 100vh;
    float: left;
    clear: both;
}

.nav a {
    color: white;
    font-weight: bold;
    display: block;
    text-decoration: none;
}

.body {
    width: 50vw;
    margin: auto 0;
    margin-left: 25vw;
    display: block;
    line-height: 1.7;
}

.body div {
    min-height: 100vh;
    padding-top: 5vh;
}

.body a {
    text-decoration: underline;
    font-weight: bold;
    color: white;
}


