.button {
    margin: 2vh;
    padding:1vh 2vh;
}

.head {
    display: inline;
}

.text {
    width: 100vw;
    margin: auto;
    text-align: center;
}

.draw {
    display: block;
    width: 100%;
    margin: auto;
    border: 5px solid white;
}

