.landing {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    float: center;
}

.landing a {
    padding: 10vh 0;
    margin: 1vh;
    text-align: center;
    border: 5px solid white;
    height: 30vh;
    width: 30vh;
    text-decoration: underline;
    color: white;
}

.landing .posts {
    border: 5px dashed white;
}

.landing a:hover {
    color: pink;
}


