.landing {
    display: inline-block;
    padding: 2vh;
}

.landing div {
    padding: 10vh;
    text-align: center;
    border: 5px solid white;
    height: 32vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
}

.landing a {
    text-decoration: underline;
    color: white;
}

.landing div a:hover {
    color: pink;
}


