.body {
    width: 50vw;
    margin: auto;
    line-height: 1.7;
}

.body li {
    border: 2px solid white;
    padding: 5vh;
}

.body a {
    text-decoration: underline;
    color: white;
}

.body input {
    width: 100%;
    margin: auto;
    padding: 1vh;
}

.body ul {
    list-style: none;
    padding: none;
}
